<!-- 
	- citation 
	- navbar: https://getbootstrap.com/docs/3.4/examples/navbar/
	- udemy course section2, part6: https://www.udemy.com/course/complete-e-commerce-course-javaspringhibernate-and-mysql/learn/lecture/6363142#questions
	- udemy course section2, part7: https://www.udemy.com/course/complete-e-commerce-course-javaspringhibernate-and-mysql/learn/lecture/6363144#overview
	- udemy course section2, part8: https://www.udemy.com/course/complete-e-commerce-course-javaspringhibernate-and-mysql/learn/lecture/6363146#overview
	- udemy course section2, part9: https://www.udemy.com/course/complete-e-commerce-course-javaspringhibernate-and-mysql/learn/lecture/6363148#overview
	- udemy course section2, part10: https://www.udemy.com/course/complete-e-commerce-course-javaspringhibernate-and-mysql/learn/lecture/6363150#overview
	- udemy course section2, part11: https://www.udemy.com/course/complete-e-commerce-course-javaspringhibernate-and-mysql/learn/lecture/6363152#overview
	- udemy course section3, part12: https://www.udemy.com/course/complete-e-commerce-course-javaspringhibernate-and-mysql/learn/lecture/6363154#overview
	- udemy course section3, part13: https://www.udemy.com/course/complete-e-commerce-course-javaspringhibernate-and-mysql/learn/lecture/6363156#overview
	- udemy course section3 part17: https://www.udemy.com/course/complete-e-commerce-course-javaspringhibernate-and-mysql/learn/lecture/6363164#questions
	- udemy course section3 part22: https://www.udemy.com/course/complete-e-commerce-course-javaspringhibernate-and-mysql/learn/lecture/6363176#questions
	- bootstrap carousel: https://getbootstrap.com/docs/3.4/javascript/#carousel
	- bootsrtap folder : https://getbootstrap.com/docs/3.3/getting-started/#download
	- bootstrap non respond: https://getbootstrap.com/docs/3.4/examples/non-responsive/
	- bootstrap panel: https://getbootstrap.com/docs/3.3/components/
	- random image: https://picsum.photos/
	- logo image: https://stock.adobe.com/search?k=clothing+logo&asset_id=397367515
	- top 10 hunter image: https://elements.envato.com/hunter-vintage-badges-KNMANN?_ga=2.45521766.315818343.1726781799-970881309.1726781799
	- faq image: https://www.searchenginejournal.com/best-faq-page-examples/267709/
	- google map image: https://support.google.com/maps/thread/264853084/how-to-get-google-maps-to-mark-road-private?hl=en
	- shirt image: https://kotn.com/products/mens-easy-crew?variant=41447949238355&country=US&gad_source=1&gclid=CjwKCAjwl6-3BhBWEiwApN6_ktEdRUImMTuMfGxO9dezrU3CiUBt8U_nWXGavDZDfECnTbN_zAvoPhoCN-gQAvD_BwE&colour=black&size=m
	- bookshelf image: https://www.udemy.com/course/complete-e-commerce-course-javaspringhibernate-and-mysql/learn/lecture/6363150#overview
	- cited http://www.w3.org/1000/xhtml
	- wood image: https://www.udemy.com/course/complete-e-commerce-course-javaspringhibernate-and-mysql/learn/lecture/6363154#overview
 -->
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body style="background-color: #f0f0f0;">

	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="row">
				<div class="col-xs-8">
					<h2 class="section-headline">
						<span>Help Center</span>
					</h2>
				</div>

			</div>
			<img class="img-responsive" src="/image/wood.png"
				style="margin-top: -75px;" />
		</div>


		<div class="row" style="margin-top: 120px;">
			<div class="col-xs-9 col-xs-offset-3">
				<h3>Shopping</h3>
				<hr />
				<h4 class="question">Q: How do I make a purchase?</h4>
				<p>A:&nbsp;Shop from the clothing mall after registering as a
					user.</p>
				<h4 class="question">Q: What are the steps to create an
					account?&nbsp;</h4>
				<p>A: From the top right corner, find the option for user
					registration and start registering.</p>

				<h4 class="question">Q: When will my order be processed and
					shipped?</h4>
				<p>A: 3 to 5 days for normal users. 1 to 3 days for member
					users.</p>

				<h4 class="question">Q: Is there a guarantee that all items are
					in stock?</h4>
				<p>A: All items are determined by the developer.</p>

				<h4 class="question">Q: Why can't I shop from the mall anymore?</h4>
				<p>A:&nbsp; This item is no longer available at the mall.</p>
				<h4 class="question">Q: What if I can't find the item I want
					from the mall?</h4>
				<p>A:&nbsp;You need to go to a nearby chain store to find the
					items you want.</p>
				<h4 class="question">Q: How do I track my order status?</h4>

				<p>A: You can log in to your account and then look up your
					purchases from your account. You can also reach me by email. The
					eamil is jianghuang588@gmail.com.</p>

				<h4 class="question">Q: Is it possible to cancel or alter my
					order?</h4>
				<p>A: The store does not support returns.</p>

				<h3>Delivery&nbsp;</h3>
				<hr />
				<p>Our store provides you with a professional shipping process.</p>
				<h4 class="question">Q: How Much Does Transportation Cost?</h4>
				<p>A: Free shipping in the U.S. on any item purchased from this
					store.</p>
				<h4 class="question">Q. How do you handle shipping?</h4>
				<p>A: Our items were shipped by UPS.</p>
			</div>
		</div>
	</div>

	<div th:replace="common/header :: footer" />


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
