<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body  style="background-color: #f0f0f0;">

	<div th:replace="common/header :: navbar" />


	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="row">
				<div class="col-xs-8">
					<h2 class="section-headline">
						<span>Product Detail</span>
					</h2>
				</div>

			</div>

			<img class="img-responsive" src="/image/wood.png"
				style="margin-top: -75px;" />
		</div>



		<form>
			<div class="row" style="margin-top: 120px;">
				<div class="col-xs-3">
					<a th:href="@{/}">Back to home page</a><br /> <img
						src="/image/18.png" class="img-responsive"
						style="margin-top: 20px;" />
				</div>


				<div class="col-xs-9">

					<h3>Well It Aint Suck Crawfish Boil Suck Itself TShirt on
						Unisex Crewneck Sweatshirt</h3>
					<div class="row">
						<div class="col-xs-5">
							<h5>
								<strong>Color: </strong><span>Black</span>
							</h5>
							<p>
								<strong>Brand Name: </strong><span>TeeLuxe</span>
							</p>
							<p>
								<strong> Manufacture Date: </strong><span>5/29/2023</span>
							</p>
							<p>
								<strong>Size: </strong><span>Medium</span>
							</p>
							<p>
								<strong>Types: </strong><span>Hoodie</span>
							</p>

							<p>
								<strong>Universal Product Code: </strong><span>963327</span>
							</p>


							<p>
								<strong>Shirt Serial Number: </strong><span>900222</span>
							</p>
							<p>
								<strong>Delivery Weight : </strong><span>32</span> ounces
							</p>
						</div>

						<div class="col-xs-7">
							<div class="panel panel-default"
								style="border-width: 5px; margin-top: 20px;">
								<div class="panel-body">
									<div class="row">
										<div class="col-xs-6">
											<h4>
												Current price: <span style="color: #db3208;">$<span>41.99</span></span>
											</h4>
											<p>
												Standard Price: <span style="text-decoration: line-through">$<span>21.99</span></span>
											</p>

											<p>
												Reduced by: $<span>20</span>
											</p>


											<span>Qty: </span> <select>
												<option>80</option>
											</select>
										</div>
										<div class="col-xs-6"></div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<hr />
					
					<p>
						<h2>"Unisex Crewneck Sweatshirt"</h2>
						<p>"This classic has stood the test of time. Always in
							fashion, this crewneck sweatshirt by Gildan is perfect as an
							outer, under or single layer. Soft and comfortable, this stand-by
							is a must."</p>
						<ul>
							<li>"Brand: Gildan | Product ID: 18000"</li>
							<li>"50% preshrunk cotton/50% polyester. Made with 50%
								sustainably and fairly grown USA cotton. | Fabric Weight: 7.75
								oz (midweight)"</li>
							<li>"Pill-resistant"</li>
							<li>"1X1 Lycra® spandex ribbed collar, cuffs and waist"</li>
							<li>"Fully double-stitched"</li>
							<li>"Imported; processed and printed in the U.S.A."</li>
							<li>"Sizes 3XL & 4XL available for colors: heather gray,
								red, navy, black, royal, asphalt gray, white & forest green"</li>
							<li>"Size 5XL available for: heather gray, red, navy, black,
								asphalt gray, white & forest green"</li>
						</ul>
					</p>


















				</div>
			</div>
		</form>





	</div>
	<!-- end of container -->

	<div th:replace="common/header :: footer" />


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
